@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;1,700&display=swap');


.home {
    margin-top: 0px;
    width: 100%;
    /* background-color: #fff; */
}

.service {
    /* margin-top: 10px; */
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    background-color: #fff;
}

.service-list{
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.service-animal{
    flex-direction: column;
    display: flex;
    width: 40%;
    align-items: center;
}
text{
    color: blueviolet;
    /* font-size: large; */
    font-family: "Cantarell", sans-serif;
}
h5{
    color: blue;
}
